choc.xcworkspace/
Makefile.in
aclocal.m4
autom4te.cache/
autotools/
config.hin
configure
midiproc/Makefile.in
opl/Makefile.in
opl/examples/Makefile.in
pcsound/Makefile.in
pkg/Makefile.in
src/Makefile.in
src/doom/Makefile.in
src/setup/Makefile.in
textscreen/Makefile.in
textscreen/examples/Makefile.in
textscreen/fonts/Makefile.in
build/
config.h
